<p>contact-us works!</p>

<nav class="navbar  navbar-light  bg-light navbar-expand-sm">
    <a class="navbar-brand" href="#">My Brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href='#'>First Linkl</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>Second Linkl</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>Third Linkl</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>Fourth Linkl</a>
        </li>
    </ul>
   </div>
  </nav>