
<section>
	<section class="row" style="justify-content: center; align-content: center; align-items: center">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		



     <div class="card cc bb mt-5">
     	<div class="card-header bg-success bb" style="text-align: center; color: white; font-family: Anton; border: none; border-radius: 10px">Admin Login</div>
     	<div class="card-body">
     		<div class="text-center">
     			<img src="./../../assets/imgg.png" height="120px" width="120px">
     		</div>
     		<form>
     			<div class="form-group">
     				<label style="font-family: Arimo">Name</label>
     				<input type="Enter Username" class="form-control" name="" placeholder="Enter Username" >
     			</div>
     			<div class="form-group">
     				<label style="font-family: Arimo">Password</label>
     				<input type="Password" name="" placeholder="Password" class="form-control"> 
     			</div>
     			<p class="text-center" style="font-family: Anton;">
     				<a href="">Forgot Password?</a>
     			</p>
     		</form>
     	</div>

     <!-- 	<div class="card-footer" style="background-color: white;">

     	</div> -->
       </div>  

	   </div>
	<div class="col-md-4">
			</div>
    </section>
</section>

<p>login works!</p>
